<h2>User List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users"> 
    <td>{{ user?.id }}</td>       
    <td>{{ user?.userId }}</td>   
    <td>{{ user?.title }}</td>      
    <td>
      <a [routerLink]="['/user/edit', user?.id]">Edit</a> <!-- Use option chaining here -->
      <button (click)="deleteUser(user.id)">Delete</button> <!-- Use option chaining here -->
    </td>
  </tr>
</table>
<a [routerLink]="['/user/create']">Create New User</a>
