<!-- Header component -->
 

<app-header [isCreateRoute]="isCreateRoute"></app-header>
<main class="main">
  <div class="content">
    <div class="left-side">
      <p>CRUD Angular</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <!-- This will render the component based on the current route -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <div class="user-list">
    <!-- Ensure the UserListComponent is recognized -->
    <!-- <app-user-list></app-user-list>
  <!-- </div> --> 
</main>
