<!-- src/app/user/user-update/user-update.component.html -->
<h2>Update User</h2>

<form  (ngSubmit)="updateUser()">
  <label for="userID">ID:</label>
  <input
    id="userID"
    name="userId"
    type="number"
    [ngModel]="user?.id"
    (ngModelChange)="user.userId=$event"
    required
  />

  <label for="title">Title:</label>
  <input
    id="title"
    name="title"
    type="text"
    [ngModel]="user?.title"
  
    required
  />
  <button type="submit">Update</button>
 
  <app-user-list></app-user-list>

 <!-- Use type="submit" if using (ngSubmit) -->
</form>
