<!-- src/app/user/user-update/user-update.component.html -->
<h2>Update User</h2>

<form  (ngSubmit)="updateUser()">
  <label for="userID">UserID:</label>
  <input
    id="userID"
    name="userId"
    type="number"
    [ngModel]="user?.userId"
    (ngModelChange)="user.userId=$event"
    required
  />

  <label for="title">Title:</label>
  <input
    id="title"
    name="title"
    type="text"
    [(ngModel)]="user.title"
  
    required
  />

  <button type="submit">Update</button> <!-- Use type="submit" if using (ngSubmit) -->
</form>
